# Taking a Look at the Graduates of Medical Schools and Psychiatry Residency Program Applicants

In [1]:
import pandas as pd
import requests
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import re
from datetime import datetime, timedelta
import time
import seaborn as sns
from pylab import rcParams
sns.set(style='whitegrid',palette='husl')
matplotlib.rcParams['pdf.fonttype'] = 42

%matplotlib inline

# Read in Data and Merge

In [6]:
residency=pd.read_csv('residency_number.csv')

In [7]:
residency

,Index,American Indian or Alaska Native,Asian,Black or African American,"Hispanic, Latino, or of Spanish Origin",Native Hawaiian or Other Pacific Islander,White,Other Race/Ethnicity,Unknown Race/Ethnicity,year
0,2014,22,1725,559,313,5,1464,224,392,2014
1,2015,32,1704,538,342,4,1568,243,287,2015
2,2016,28,1572,484,392,3,1553,216,372,2016
3,2017,31,1572,525,371,7,1586,171,336,2017
4,2018,31,1640,555,437,10,1752,217,308,2018