In [85]:
import json
import os
import time
import requests
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
import os

API_KEY = os.getenv("GOOGLE_API_KEY")

In [86]:
def process_to_geojson(file):
    geo_data = {"type": "FeatureCollection", "features":[]}
    for row in file:
        this_dict = {"type": "Feature", "properties":{}, "geometry": {}}
        for key, value in row.items():
            key_names = key.split('.')
            if key_names[0] == 'geometry':
                this_dict['geometry'][key_names[1]] = value
            if str(key_names[0]) == 'properties':
                this_dict['properties'][key_names[1]] = value
        geo_data['features'].append(this_dict)
    return geo_data

In [87]:
placeNames=['Arlo Soho New York,NY','CloudM Bowery New York, NY','Ace Hotel NYC','Hi Life Bar and Grill, NY','St.James Gate NY','Studio at the Freehand','The Marlton Hotel NY','The Bean-824 Broadway','The Bean-31 3rd Ave','The Bean 147 1st Ave','Round K']

In [88]:
geometries_df=[]

In [89]:
geometry_df = []
for place in placeNames:
    url = 'https://maps.googleapis.com/maps/api/geocode/json'
    keys = {'address': place, 'key': API_KEY}
    r = requests.get(url,params=keys)
    result_dic = r.json()
    lat = result_dic['results'][0]['geometry']['location']['lat']
    long = result_dic['results'][0]['geometry']['location']['lng']
    coords = []
    coords.append(long)
    coords.append(lat)
    mygeometry = {'place': place, 'geometry.type': 'Point','geometry.coordinates':coords}
    geometry_df.append(mygeometry)
    time.sleep(1)
geometry_df

[{'place': 'Arlo Soho New York,NY',
  'geometry.type': 'Point',
  'geometry.coordinates': [-74.00796509999999, 40.7244913]},
 {'place': 'CloudM Bowery New York, NY',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.9935179, 40.7206008]},
 {'place': 'Ace Hotel NYC',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.98828499999999, 40.745778]},
 {'place': 'Hi Life Bar and Grill, NY',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.97631129999999, 40.7855601]},
 {'place': 'St.James Gate NY',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.97711869999999, 40.78449699999999]},
 {'place': 'Studio at the Freehand',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.9842543, 40.7398336]},
 {'place': 'The Marlton Hotel NY',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.9967972, 40.7326143]},
 {'place': 'The Bean-824 Broadway',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.990978, 40.733021]},
 {'place': 'The Bean-31 3rd Ave',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.9894592, 40.72972]},
 {'place': 'The Bean 147 1st Ave',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.9850093, 40.72839219999999]},
 {'place': 'Round K',
  'geometry.type': 'Point',
  'geometry.coordinates': [-73.9909629, 40.718898]}]

In [90]:
geometry_df=pd.DataFrame(geometry_df)

In [46]:
# for address in places:
#     geometry={}
#     url = 'https://maps.googleapis.com/maps/api/geocode/json'
#     keys={'address':address,'key':API_KEY}
#     r = requests.get(url,params=keys)
#     result_dic = r.json()
#     geometry['address']=address
#     geometry['geometry'] = result_dic['results'][0]['geometry']
#     geometries_df.append(geometry)
#     print(address, result_dic['results'][0]['geometry'])
# #     print(result_dic)
#     time.sleep(1)

Arlo Soho New York,NY {'location': {'lat': 40.7244913, 'lng': -74.00796509999999}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.72584028029149, 'lng': -74.00661611970848}, 'southwest': {'lat': 40.72314231970849, 'lng': -74.0093140802915}}}
CloudM Bowery New York, NY {'location': {'lat': 40.7206008, 'lng': -73.9935179}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7219497802915, 'lng': -73.99216891970849}, 'southwest': {'lat': 40.7192518197085, 'lng': -73.9948668802915}}}
Ace Hotel NYC {'location': {'lat': 40.745778, 'lng': -73.98828499999999}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7471269802915, 'lng': -73.98693601970848}, 'southwest': {'lat': 40.74442901970851, 'lng': -73.9896339802915}}}
Hi Life Bar and Grill, NY {'location': {'lat': 40.7855601, 'lng': -73.97631129999999}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7869090802915, 'lng': -73.97496231970848}, 'southwest': {'lat': 40.7842111197085, 'lng': -73.9776602802915}}}
St.James Gate NY {'location': {'lat': 40.78449699999999, 'lng': -73.97711869999999}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7858459802915, 'lng': -73.97576971970848}, 'southwest': {'lat': 40.7831480197085, 'lng': -73.9784676802915}}}
Studio at the Freehand {'location': {'lat': 40.7398336, 'lng': -73.9842543}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7411825802915, 'lng': -73.9829053197085}, 'southwest': {'lat': 40.7384846197085, 'lng': -73.9856032802915}}}
The Marlton Hotel NY {'location': {'lat': 40.7326143, 'lng': -73.9967972}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7339632802915, 'lng': -73.99544821970849}, 'southwest': {'lat': 40.73126531970851, 'lng': -73.99814618029151}}}
The Bean-824 Broadway {'location': {'lat': 40.733021, 'lng': -73.990978}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7343699802915, 'lng': -73.9896290197085}, 'southwest': {'lat': 40.7316720197085, 'lng': -73.99232698029151}}}
The Bean-31 3rd Ave {'location': {'lat': 40.72972, 'lng': -73.9894592}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7310689802915, 'lng': -73.98811021970849}, 'southwest': {'lat': 40.7283710197085, 'lng': -73.99080818029151}}}
The Bean 147 1st Ave {'location': {'lat': 40.72839219999999, 'lng': -73.9850093}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7297411802915, 'lng': -73.9836603197085}, 'southwest': {'lat': 40.7270432197085, 'lng': -73.98635828029151}}}
Round K {'location': {'lat': 40.718898, 'lng': -73.9909629}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 40.7202469802915, 'lng': -73.98961391970849}, 'southwest': {'lat': 40.7175490197085, 'lng': -73.9923118802915}}}

In [91]:
df=pd.DataFrame(places)

In [92]:
df=df.rename(columns={0:'place'})

In [93]:
# df=df.drop(columns='properties.article')

In [94]:
df['properties.article']=df.place.apply(lambda x: "<div id='place'><P>" + x + "</P></div></p><p>")

In [95]:
# df.place.apply(lambda x: "<div id='place'><P>%s</P></div>" % '</p><p>'.join(str(x)))

In [96]:
df=df.rename(columns={'place':'properties.name'})

In [97]:
df['properties.headline'] = '<div class="body-text"><p><span>Work:</span>emoji<span>Werk:</span>emoji</p>'

In [98]:
df.head(3)

,properties.name,properties.article,properties.headline
0,"Arlo Soho New York,NY","<div id='place'><P>Arlo Soho New York,NY</P></...","<div class=""body-text""><p><span>Work:</span>em..."
1,"CloudM Bowery New York, NY","<div id='place'><P>CloudM Bowery New York, NY<...","<div class=""body-text""><p><span>Work:</span>em..."
2,Ace Hotel NYC,<div id='place'><P>Ace Hotel NYC</P></div></p><p>,"<div class=""body-text""><p><span>Work:</span>em..."

In [99]:
df['properties.group_id']=11

In [100]:
df['properties.group_name']='random'

In [101]:
df.head(3)

,properties.name,properties.article,properties.headline,properties.group_id,properties.group_name
0,"Arlo Soho New York,NY","<div id='place'><P>Arlo Soho New York,NY</P></...","<div class=""body-text""><p><span>Work:</span>em...",11,random
1,"CloudM Bowery New York, NY","<div id='place'><P>CloudM Bowery New York, NY<...","<div class=""body-text""><p><span>Work:</span>em...",11,random
2,Ace Hotel NYC,<div id='place'><P>Ace Hotel NYC</P></div></p><p>,"<div class=""body-text""><p><span>Work:</span>em...",11,random

In [102]:
df=df.merge(geometry_df, left_on='properties.name',right_on='place',how='left')

In [103]:
df.drop(columns='place')

,properties.name,properties.article,properties.headline,properties.group_id,properties.group_name,geometry.coordinates,geometry.type
0,"Arlo Soho New York,NY","<div id='place'><P>Arlo Soho New York,NY</P></...","<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-74.00796509999999, 40.7244913]",Point
1,"CloudM Bowery New York, NY","<div id='place'><P>CloudM Bowery New York, NY<...","<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.9935179, 40.7206008]",Point
2,Ace Hotel NYC,<div id='place'><P>Ace Hotel NYC</P></div></p><p>,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.98828499999999, 40.745778]",Point
3,"Hi Life Bar and Grill, NY","<div id='place'><P>Hi Life Bar and Grill, NY</...","<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.97631129999999, 40.7855601]",Point
4,St.James Gate NY,<div id='place'><P>St.James Gate NY</P></div><...,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.97711869999999, 40.78449699999999]",Point
5,Studio at the Freehand,<div id='place'><P>Studio at the Freehand</P><...,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.9842543, 40.7398336]",Point
6,The Marlton Hotel NY,<div id='place'><P>The Marlton Hotel NY</P></d...,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.9967972, 40.7326143]",Point
7,The Bean-824 Broadway,<div id='place'><P>The Bean-824 Broadway</P></...,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.990978, 40.733021]",Point
8,The Bean-31 3rd Ave,<div id='place'><P>The Bean-31 3rd Ave</P></di...,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.9894592, 40.72972]",Point
9,The Bean 147 1st Ave,<div id='place'><P>The Bean 147 1st Ave</P></d...,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.9850093, 40.72839219999999]",Point
10,Round K,<div id='place'><P>Round K</P></div></p><p>,"<div class=""body-text""><p><span>Work:</span>em...",11,random,"[-73.9909629, 40.718898]",Point

In [104]:
df['properties.color']='#64ffda'

In [105]:
#converting to geojson
ok_json = json.loads(df.to_json(orient='records'))

In [106]:
geo_format = process_to_geojson(ok_json)

In [107]:
#Variable name
with open('geo-data.js', 'w') as outfile:
    outfile.write("var infoData = ")
#geojson output
with open('geo-data.js', 'a') as outfile:
    json.dump(geo_format, outfile)