# The Associated Press and Life Expectancy

**Story:** [AP analysis: Unemployment, income affect life expectancy](https://www.apnews.com/66ac44186b6249709501f07a7eab36da)

**Author:** Nicky Forster, Associated Press

**Topics:** Census Data, Linear Regression

**Datasets**

* **R12221544_SL140.csv:** ACS 2015 5-year, tract level, from [Social Explorer](https://www.socialexplorer.com)
    - Table B23025: Employment Status
    - **R12221544.txt** is the data dictionary
* **R12221544_SL140.csv:** ACS 2015 5-year, tract level, from [Social Explorer](https://www.socialexplorer.com)
    - Table B23025: Employment Status
    - Table B06009: Educational Attainment
    - Table B03002: Race
    - Table B19013: Median income
    - Table C17002: Ratio of income to poverty level
    - **R12221544.txt** is the data dictionary
* **US_A.CSV:** life expectancy by census tract, from [USALEEP](https://www.cdc.gov/nchs/nvss/usaleep/usaleep.html)
    - **Record_Layout_CensusTract_Life_Expectancy.pdf** is data dictionary

# What's the story?

We're trying to figure out how the **life expectancy in a census tract** is related to other factors like unemployment, income, and others.

# PREPWORK BONUS!

Download the data yourself from Social Explorer and USALEEP (linked above) instead of relying on the data included.

## Reading in our data

### Read in `USA_A.CSV`

Rename any columns with weird or not-understandable names as something more descriptive.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statistics
from statistics import mode
from statistics import median
import re
import statsmodels.api as sm

In [2]:
df = pd.read_csv("US_A.csv")
df.head()

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag
0,1001020100,1,1,20100,73.1,2.2348,3
1,1001020200,1,1,20200,76.9,3.3453,3
2,1001020400,1,1,20400,75.4,1.0216,3
3,1001020500,1,1,20500,79.4,1.1768,1
4,1001020600,1,1,20600,73.1,1.5519,3

In [3]:
df = df.rename(columns={'STATE2KX':'FIPS State Code','CNTY2KX':'FIPS Country Code', 
                        'TRACT2KX':'Census 2010 Tract', 
                        'Abridged life table flag':'Flag', 
                        'e(0)':'Life expectancy at birth',
                         'se(e(0))': 'Standard error'})
df.head()

,Tract ID,FIPS State Code,FIPS Country Code,Census 2010 Tract,Life expectancy at birth,Standard error,Flag
0,1001020100,1,1,20100,73.1,2.2348,3
1,1001020200,1,1,20200,76.9,3.3453,3
2,1001020400,1,1,20400,75.4,1.0216,3
3,1001020500,1,1,20500,79.4,1.1768,1
4,1001020600,1,1,20600,73.1,1.5519,3

### Open `R12221544_SL140.csv`

You'll need to give an option to `pd.read_csv` to make sure it's read in successfully.

In [4]:
df1 = pd.read_csv("R12221544_SL140.csv", encoding = "ISO-8859-1")
df1.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,ACS15_5yr_B23025005,ACS15_5yr_B23025006,ACS15_5yr_B23025007,ACS15_5yr_B23025001s,ACS15_5yr_B23025002s,ACS15_5yr_B23025003s,ACS15_5yr_B23025004s,ACS15_5yr_B23025005s,ACS15_5yr_B23025006s,ACS15_5yr_B23025007s
0,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama","Census Tract 201, Autauga County, Alabama",al,140,0,ACSSF,1760,NaN,...,54,0,557,92.121212,85.454545,85.454545,83.636364,18.787879,6.666667,67.878788
1,1001020200,14000US01001020200,"Census Tract 202, Autauga County, Alabama","Census Tract 202, Autauga County, Alabama",al,140,0,ACSSF,1761,NaN,...,116,15,847,143.030303,115.151515,114.545455,107.272727,38.181818,14.545455,86.666667
2,1001020300,14000US01001020300,"Census Tract 203, Autauga County, Alabama","Census Tract 203, Autauga County, Alabama",al,140,0,ACSSF,1762,NaN,...,91,8,990,169.090909,132.121212,134.545455,123.030303,31.515152,8.484848,120.606061
3,1001020400,14000US01001020400,"Census Tract 204, Autauga County, Alabama","Census Tract 204, Autauga County, Alabama",al,140,0,ACSSF,1763,NaN,...,216,15,1411,197.575758,157.575758,161.818182,132.121212,58.787879,14.545455,127.878788
4,1001020500,14000US01001020500,"Census Tract 205, Autauga County, Alabama","Census Tract 205, Autauga County, Alabama",al,140,0,ACSSF,1764,NaN,...,221,203,2737,321.818182,339.393939,356.969697,369.090909,89.090909,103.030303,273.939394

#### Filter out any columns we aren't interestd in

In [5]:
df1 = df1[['Geo_FIPS', 'Geo_GEOID', 'Geo_NAME', 'Geo_STUSAB', 'Geo_GEOCOMP', 'Geo_FILEID', 'Geo_LOGRECNO', 'Geo_US',
      'Geo_REGION', 'Geo_DIVISION', 'Geo_STATECE', 'Geo_STATE', 'Geo_COUNTY','Geo_TRACT', 'ACS15_5yr_B23025001',
      'ACS15_5yr_B23025002', 'ACS15_5yr_B23025003', 'ACS15_5yr_B23025004',
      'ACS15_5yr_B23025005', 'ACS15_5yr_B23025006', 'ACS15_5yr_B23025007',
      'ACS15_5yr_B23025001s', 'ACS15_5yr_B23025002s', 'ACS15_5yr_B23025003s',
      'ACS15_5yr_B23025004s', 'ACS15_5yr_B23025005s', 'ACS15_5yr_B23025006s',
      'ACS15_5yr_B23025007s']]
df1 = df1.rename(columns={'Geo_TRACT':'TRACT', 'ACS15_5yr_B23025001':'Pop', 'ACS15_5yr_B23025002':'Pop_in_Labor_Force', 'ACS15_5yr_B23025003':'Pop_in_Civilian_Labor_Force', 'ACS15_5yr_B23025004':'Pop_in_Civilian_Labor_Force_employed',
      'ACS15_5yr_B23025005':'Pop_in_Civilian_Labor_Force_unemployed', 'ACS15_5yr_B23025006':'Pop_in_Labor_Force_Armed_Forces', 'ACS15_5yr_B23025007':'Pop_Not_in_Labor_Force',
      'ACS15_5yr_B23025001s':'Error_Pop', 'ACS15_5yr_B23025002s':'Error_Pop_in_Labor_Force', 'ACS15_5yr_B23025003s':'Error_Pop_in_Civilian_Labor_Force',
      'ACS15_5yr_B23025004s':'Error_Pop_in_Civilian_Labor_Force_Employed', 'ACS15_5yr_B23025005s':'Error_Pop_in_Civilian_Labor_Force_Unemployed', 'ACS15_5yr_B23025006s':'Error_Pop_in_Labor_Force_Armed_Forces',
      'ACS15_5yr_B23025007s':'Error_Pop_Not_in_Labor_Force'})
df1

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_STUSAB,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,Pop_in_Civilian_Labor_Force_unemployed,Pop_in_Labor_Force_Armed_Forces,Pop_Not_in_Labor_Force,Error_Pop,Error_Pop_in_Labor_Force,Error_Pop_in_Civilian_Labor_Force,Error_Pop_in_Civilian_Labor_Force_Employed,Error_Pop_in_Civilian_Labor_Force_Unemployed,Error_Pop_in_Labor_Force_Armed_Forces,Error_Pop_Not_in_Labor_Force
0,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",al,0,ACSSF,1760,NaN,NaN,NaN,...,54,0,557,92.121212,85.454545,85.454545,83.636364,18.787879,6.666667,67.878788
1,1001020200,14000US01001020200,"Census Tract 202, Autauga County, Alabama",al,0,ACSSF,1761,NaN,NaN,NaN,...,116,15,847,143.030303,115.151515,114.545455,107.272727,38.181818,14.545455,86.666667
2,1001020300,14000US01001020300,"Census Tract 203, Autauga County, Alabama",al,0,ACSSF,1762,NaN,NaN,NaN,...,91,8,990,169.090909,132.121212,134.545455,123.030303,31.515152,8.484848,120.606061
3,1001020400,14000US01001020400,"Census Tract 204, Autauga County, Alabama",al,0,ACSSF,1763,NaN,NaN,NaN,...,216,15,1411,197.575758,157.575758,161.818182,132.121212,58.787879,14.545455,127.878788
4,1001020500,14000US01001020500,"Census Tract 205, Autauga County, Alabama",al,0,ACSSF,1764,NaN,NaN,NaN,...,221,203,2737,321.818182,339.393939,356.969697,369.090909,89.090909,103.030303,273.939394
5,1001020600,14000US01001020600,"Census Tract 206, Autauga County, Alabama",al,0,ACSSF,1765,NaN,NaN,NaN,...,190,52,1053,206.060606,160.606061,158.787879,139.393939,63.030303,30.303030,151.515152
6,1001020700,14000US01001020700,"Census Tract 207, Autauga County, Alabama",al,0,ACSSF,1766,NaN,NaN,NaN,...,150,0,796,163.636364,130.303030,130.303030,125.454545,47.878788,6.666667,80.606061
7,1001020801,14000US01001020801,"Census Tract 208.01, Autauga County, Alabama",al,0,ACSSF,1767,NaN,NaN,NaN,...,135,28,854,127.272727,124.242424,122.424242,136.969697,47.878788,13.939394,117.575758
8,1001020802,14000US01001020802,"Census Tract 208.02, Autauga County, Alabama",al,0,ACSSF,1768,NaN,NaN,NaN,...,415,124,3201,379.393939,269.696970,276.363636,250.303030,112.121212,47.878788,265.454545
9,1001020900,14000US01001020900,"Census Tract 209, Autauga County, Alabama",al,0,ACSSF,1769,NaN,NaN,NaN,...,194,0,1799,303.636364,218.787879,218.787879,214.545455,91.515152,9.696970,181.818182
10,1001021000,14000US01001021000,"Census Tract 210, Autauga County, Alabama",al,0,ACSSF,1770,NaN,NaN,NaN,...,85,0,1002,169.696970,126.060606,126.060606,127.878788,39.393939,6.666667,137.575758
11,1001021100,14000US01001021100,"Census Tract 211, Autauga County, Alabama",al,0,ACSSF,1771,NaN,NaN,NaN,...,117,0,1139,176.969697,151.515152,151.515152,142.424242,38.787879,6.666667,114.545455
12,1003010100,14000US01003010100,"Census Tract 101, Baldwin County, Alabama",al,0,ACSSF,1772,NaN,NaN,NaN,...,158,0,1684,274.545455,206.666667,206.666667,195.757576,73.939394,6.666667,161.818182
13,1003010200,14000US01003010200,"Census Tract 102, Baldwin County, Alabama",al,0,ACSSF,1773,NaN,NaN,NaN,...,113,7,907,155.757576,135.151515,134.545455,126.666667,40.606061,6.666667,91.515152
14,1003010300,14000US01003010300,"Census Tract 103, Baldwin County, Alabama",al,0,ACSSF,1774,NaN,NaN,NaN,...,254,0,2575,424.848485,332.121212,332.121212,290.303030,105.454545,9.696970,270.303030
15,1003010400,14000US01003010400,"Census Tract 104, Baldwin County, Alabama",al,0,ACSSF,1775,NaN,NaN,NaN,...,215,3,1701,213.939394,137.575758,137.575758,137.575758,66.060606,3.030303,179.393939
16,1003010500,14000US01003010500,"Census Tract 105, Baldwin County, Alabama",al,0,ACSSF,1776,NaN,NaN,NaN,...,154,0,2006,228.484848,169.090909,169.090909,171.515152,43.636364,9.696970,173.939394
17,1003010600,14000US01003010600,"Census Tract 106, Baldwin County, Alabama",al,0,ACSSF,1777,NaN,NaN,NaN,...,84,0,953,223.636364,193.333333,193.333333,192.121212,41.212121,6.666667,113.333333
18,1003010701,14000US01003010701,"Census Tract 107.01, Baldwin County, Alabama",al,0,ACSSF,1778,NaN,NaN,NaN,...,133,0,2091,321.212121,266.060606,266.060606,263.030303,52.727273,9.696970,167.878788
19,1003010703,14000US01003010703,"Census Tract 107.03, Baldwin County, Alabama",al,0,ACSSF,1779,NaN,NaN,NaN,...,195,21,3507,545.454545,527.272727,524.848485,515.151515,64.848485,21.212121,312.121212
20,1003010704,14000US01003010704,"Census Tract 107.04, Baldwin County, Alabama",al,0,ACSSF,1780,NaN,NaN,NaN,...,179,13,1244,249.090909,209.090909,209.090909,200.000000,52.121212,9.696970,121.212121
21,1003010705,14000US01003010705,"Census Tract 107.05, Baldwin County, Alabama",al,0,ACSSF,1781,NaN,NaN,NaN,...,267,75,2032,426.060606,382.424242,381.212121,341.818182,108.484848,43.636364,207.272727
22,1003010800,14000US01003010800,"Census Tract 108, Baldwin County, Alabama",al,0,ACSSF,1782,NaN,NaN,NaN,...,323,0,2485,473.333333,415.151515,415.151515,400.606061,108.484848,9.696970,270.303030
23,1003010903,14000US01003010903,"Census Tract 109.03, Baldwin County, Alabama",al,0,ACSSF,1783,NaN,NaN,NaN,...,264,0,2164,218.181818,156.363636,156.363636,140.606061,85.454545,9.696970,193.333333
24,1003010904,14000US01003010904,"Census Tract 109.04, Baldwin County, Alabama",al,0,ACSSF,1784,NaN,NaN,NaN,...,294,3,2305,413.939394,328.484848,328.484848,297.575758,112.121212,3.030303,210.303030
25,1003010905,14000US01003010905,"Census Tract 109.05, Baldwin County, Alabama",al,0,ACSSF,1785,NaN,NaN,NaN,...,350,0,2339,398.181818,300.606061,300.606061,276.363636,104.848485,9.696970,284.848485
26,1003010906,14000US01003010906,"Census Tract 109.06, Baldwin County, Alabama",al,0,ACSSF,1786,NaN,NaN,NaN,...,48,0,1449,255.151515,253.333333,253.333333,255.151515,20.606061,9.696970,233.333333
27,1003011000,14000US01003011000,"Census Tract 110, Baldwin County, Alabama",al,0,ACSSF,1787,NaN,NaN,NaN,...,199,0,1702,304.848485,194.545455,194.545455,180.000000,64.242424,6.666667,246.666667
28,1003011101,14000US01003011101,"Census Tract 111.01, Baldwin County, Alabama",al,0,ACSSF,1788,NaN,NaN,NaN,...,244,21,2777,318.787879,260.606061,260.606061,247.878788,72.727273,21.212121,209.696970
29,1003011102,14000US01003011102,"Census Tract 111.02, Baldwin County, Alabama",al,0,ACSSF,1789,NaN,NaN,NaN,...,187,0,1208,206.060606,167.272727,167.272727,159.393939,78.787879,6.666667,126.060606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73971,72145990000,14000US72145990000,"Census Tract 9900, Vega Baja Municipio, Puerto...",pr,0,ACSSF,3494,NaN,NaN,NaN,...,0,0,0,7.878788,7.878788,7.878788,7.878788,7.878788,7.878788,7.878788
73972,72147950500,14000US72147950500,"Census Tract 9505, Vieques Municipio, Puerto Rico",pr,0,ACSSF,3495,NaN,NaN,NaN,...,121,0,2467,335.151515,234.545455,234.545455,238.181818,78.787879,11.515152,276.363636
73973,72147950600,14000US72147950600,"Census Tract 9506, Vieques Municipio, Puerto Rico",pr,0,ACSSF,3496,NaN,NaN,NaN,...,277,0,1614,351.515152,227.272727,227.272727,186.666667,98.787879,7.878788,243.636364
73974,72147990000,14000US72147990000,"Census Tract 9900, Vieques Municipio, Puerto Rico",pr,0,ACSSF,3497,NaN,NaN,NaN,...,0,0,0,7.878788,7.878788,7.878788,7.878788,7.878788,7.878788,7.878788
73975,72149720100,14000US72149720100,"Census Tract 7201, Villalba Municipio, Puerto ...",pr,0,ACSSF,3498,NaN,NaN,NaN,...,494,0,2051,266.666667,213.333333,213.333333,165.454545,120.000000,7.878788,158.181818
73976,72149720300,14000US72149720300,"Census Tract 7203, Villalba Municipio, Puerto ...",pr,0,ACSSF,3499,NaN,NaN,NaN,...,747,25,2340,310.909091,210.909091,209.090909,146.060606,106.666667,21.212121,224.848485
73977,72149720400,14000US72149720400,"Census Tract 7204, Villalba Municipio, Puerto ...",pr,0,ACSSF,3500,NaN,NaN,NaN,...,192,0,828,157.575758,106.666667,106.666667,84.242424,47.878788,7.878788,91.515152
73978,72149720502,14000US72149720502,"Census Tract 7205.02, Villalba Municipio, Puer...",pr,0,ACSSF,3501,NaN,NaN,NaN,...,336,0,1482,272.727273,180.000000,180.000000,144.242424,82.424242,7.878788,161.818182
73979,72149720503,14000US72149720503,"Census Tract 7205.03, Villalba Municipio, Puer...",pr,0,ACSSF,3502,NaN,NaN,NaN,...,325,0,1833,270.303030,155.757576,155.757576,141.818182,71.515152,7.878788,209.696970
73980,72149720504,14000US72149720504,"Census Tract 7205.04, Villalba Municipio, Puer...",pr,0,ACSSF,3503,NaN,NaN,NaN,...,280,0,1674,250.909091,151.515152,151.515152,126.666667,70.909091,7.878788,170.303030
73981,72151950600,14000US72151950600,"Census Tract 9506, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3504,NaN,NaN,NaN,...,476,26,3333,457.575758,277.575758,276.363636,235.151515,124.848485,25.454545,355.151515
73982,72151950700,14000US72151950700,"Census Tract 9507, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3505,NaN,NaN,NaN,...,261,0,2532,384.848485,227.878788,227.878788,201.818182,70.909091,7.878788,310.909091
73983,72151950800,14000US72151950800,"Census Tract 9508, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3506,NaN,NaN,NaN,...,313,0,2295,255.151515,137.575758,137.575758,101.818182,79.393939,7.878788,209.090909
73984,72151950900,14000US72151950900,"Census Tract 9509, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3507,NaN,NaN,NaN,...,423,0,2738,289.696970,183.636364,183.636364,155.757576,95.757576,11.515152,206.060606
73985,72151951000,14000US72151951000,"Census Tract 9510, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3508,NaN,NaN,NaN,...,243,0,1138,216.969697,132.121212,132.121212,123.030303,48.484848,7.878788,151.515152
73986,72151951100,14000US72151951100,"Census Tract 9511, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3509,NaN,NaN,NaN,...,176,0,1076,146.060606,106.060606,106.060606,90.909091,42.424242,7.878788,86.060606
73987,72151951200,14000US72151951200,"Census Tract 9512, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3510,NaN,NaN,NaN,...,335,0,2305,295.757576,143.030303,143.030303,119.393939,83.030303,7.878788,244.848485
73988,72151951300,14000US72151951300,"Census Tract 9513, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3511,NaN,NaN,NaN,...,365,0,2996,315.757576,170.303030,170.303030,145.454545,96.969697,11.515152,229.696970
73989,72151990000,14000US72151990000,"Census Tract 9900, Yabucoa Municipio, Puerto Rico",pr,0,ACSSF,3512,NaN,NaN,NaN,...,0,0,0,7.878788,7.878788,7.878788,7.878788,7.878788,7.878788,7.878788
73990,72153750101,14000US72153750101,"Census Tract 7501.01, Yauco Municipio, Puerto ...",pr,0,ACSSF,3513,NaN,NaN,NaN,...,193,0,1250,198.181818,94.545455,94.545455,85.454545,57.575758,7.878788,159.393939
73991,72153750102,14000US72153750102,"Census Tract 7501.02, Yauco Municipio, Puerto ...",pr,0,ACSSF,3514,NaN,NaN,NaN,...,399,17,2322,338.181818,156.969697,158.787879,141.818182,120.000000,16.363636,246.666667
73992,72153750201,14000US72153750201,"Census Tract 7502.01, Yauco Municipio, Puerto ...",pr,0,ACSSF,3515,NaN,NaN,NaN,...,317,0,1519,298.787879,187.272727,187.272727,173.333333,107.878788,7.878788,183.636364
73993,72153750202,14000US72153750202,"Census Tract 7502.02, Yauco Municipio, Puerto ...",pr,0,ACSSF,3516,NaN,NaN,NaN,...,451,0,2421,319.393939,159.393939,159.393939,76.363636,121.818182,7.878788,239.393939
73994,72153750300,14000US72153750300,"Census Tract 7503, Yauco Municipio, Puerto Rico",pr,0,ACSSF,3517,NaN,NaN,NaN,...,342,8,1939,364.242424,229.696970,229.090909,200.000000,100.000000,7.878788,258.181818
73995,72153750400,14000US72153750400,"Census Tract 7504, Yauco Municipio, Puerto Rico",pr,0,ACSSF,3518,NaN,NaN,NaN,...,232,0,1563,284.848485,161.818182,161.818182,126.666667,63.030303,7.878788,207.272727
73996,72153750501,14000US72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",pr,0,ACSSF,3519,NaN,NaN,NaN,...,450,0,2558,402.424242,256.363636,256.363636,233.333333,112.121212,11.515152,226.666667
73997,72153750502,14000US72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",pr,0,ACSSF,3520,NaN,NaN,NaN,...,140,0,879,182.424242,95.757576,95.757576,78.181818,43.636364,7.878788,125.454545
73998,72153750503,14000US72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",pr,0,ACSSF,3521,NaN,NaN,NaN,...,177,0,1093,221.818182,144.848485,144.848485,120.000000,70.909091,7.878788,130.303030
73999,72153750601,14000US72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",pr,0,ACSSF,3522,NaN,NaN,NaN,...,498,0,2284,376.969697,220.000000,220.000000,173.939394,118.787879,11.515152,265.454545
74000,72153750602,14000US72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",pr,0,ACSSF,3523,NaN,NaN,NaN,...,125,0,1852,366.666667,188.484848,188.484848,172.121212,73.333333,7.878788,327.272727

#### Create a new column for percent unemployment

We'll be using the total population in the census tract as the baseline for employment.

In [6]:
df1['unemployment_percentage'] = (df1['Pop_in_Civilian_Labor_Force_unemployed']*100)/df1['Pop']
df1.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_STUSAB,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,Pop_in_Labor_Force_Armed_Forces,Pop_Not_in_Labor_Force,Error_Pop,Error_Pop_in_Labor_Force,Error_Pop_in_Civilian_Labor_Force,Error_Pop_in_Civilian_Labor_Force_Employed,Error_Pop_in_Civilian_Labor_Force_Unemployed,Error_Pop_in_Labor_Force_Armed_Forces,Error_Pop_Not_in_Labor_Force,unemployment_percentage
0,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",al,0,ACSSF,1760,NaN,NaN,NaN,...,0,557,92.121212,85.454545,85.454545,83.636364,18.787879,6.666667,67.878788,3.474903
1,1001020200,14000US01001020200,"Census Tract 202, Autauga County, Alabama",al,0,ACSSF,1761,NaN,NaN,NaN,...,15,847,143.030303,115.151515,114.545455,107.272727,38.181818,14.545455,86.666667,6.701329
2,1001020300,14000US01001020300,"Census Tract 203, Autauga County, Alabama",al,0,ACSSF,1762,NaN,NaN,NaN,...,8,990,169.090909,132.121212,134.545455,123.030303,31.515152,8.484848,120.606061,3.696182
3,1001020400,14000US01001020400,"Census Tract 204, Autauga County, Alabama",al,0,ACSSF,1763,NaN,NaN,NaN,...,15,1411,197.575758,157.575758,161.818182,132.121212,58.787879,14.545455,127.878788,6.308411
4,1001020500,14000US01001020500,"Census Tract 205, Autauga County, Alabama",al,0,ACSSF,1764,NaN,NaN,NaN,...,203,2737,321.818182,339.393939,356.969697,369.090909,89.090909,103.030303,273.939394,2.695779

## Merging the data

Merge the dataframes together based on their census tract.

In [7]:
merged = pd.merge(df, df1, left_on='Census 2010 Tract', right_on='TRACT')
merged.head()

,Tract ID,FIPS State Code,FIPS Country Code,Census 2010 Tract,Life expectancy at birth,Standard error,Flag,Geo_FIPS,Geo_GEOID,Geo_NAME,...,Pop_in_Labor_Force_Armed_Forces,Pop_Not_in_Labor_Force,Error_Pop,Error_Pop_in_Labor_Force,Error_Pop_in_Civilian_Labor_Force,Error_Pop_in_Civilian_Labor_Force_Employed,Error_Pop_in_Civilian_Labor_Force_Unemployed,Error_Pop_in_Labor_Force_Armed_Forces,Error_Pop_Not_in_Labor_Force,unemployment_percentage
0,1001020100,1,1,20100,73.1,2.2348,3,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",...,0,557,92.121212,85.454545,85.454545,83.636364,18.787879,6.666667,67.878788,3.474903
1,1001020100,1,1,20100,73.1,2.2348,3,1033020100,14000US01033020100,"Census Tract 201, Colbert County, Alabama",...,0,1505,135.151515,115.151515,115.151515,108.484848,53.939394,6.666667,124.848485,4.676985
2,1001020100,1,1,20100,73.1,2.2348,3,1045020100,14000US01045020100,"Census Tract 201, Dale County, Alabama",...,0,1359,156.363636,143.030303,143.030303,132.727273,40.606061,6.666667,115.757576,4.012899
3,1001020100,1,1,20100,73.1,2.2348,3,1057020100,14000US01057020100,"Census Tract 201, Fayette County, Alabama",...,0,1228,179.393939,139.393939,139.393939,143.030303,30.303030,6.666667,118.787879,3.613995
4,1001020100,1,1,20100,73.1,2.2348,3,1127020100,14000US01127020100,"Census Tract 201, Walker County, Alabama",...,0,1271,179.393939,122.424242,122.424242,128.484848,69.090909,6.666667,130.303030,7.798507

In [8]:
# merged = merged.dropna()

In [9]:
merged.shape

(2729847, 36)

## Running the regression

Using the `statsmodels` package, run a linear regression to find the coefficient relating unemployment and life expectancy.

In [10]:
X = sm.add_constant(merged[['unemployment_percentage']])
mod = sm.OLS(merged['Life expectancy at birth'], X, missing='drop')
res = mod.fit()
res.summary()

/Users/lindseyfeingold/.pyenv/versions/3.7.1/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
====================================================================================
Dep. Variable:     Life expectancy at birth   R-squared:                       0.001
Model:                                  OLS   Adj. R-squared:                  0.001
Method:                       Least Squares   F-statistic:                     2293.
Date:                      Tue, 16 Jul 2019   Prob (F-statistic):               0.00
Time:                              16:56:14   Log-Likelihood:            -7.7548e+06
No. Observations:                   2728570   AIC:                         1.551e+07
Df Residuals:                       2728568   BIC:                         1.551e+07
Df Model:                                 1
Covariance Type:                  nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      77.2391      0.005   1.59e+04      0.000      77.230      77.249
unemployment_percentage    -0.0365      0.001    -47.884      0.000      -0.038      -0.035
==============================================================================
Omnibus:                     8361.520   Durbin-Watson:                   0.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9710.959
Skew:                          -0.082   Prob(JB):                         0.00
Kurtosis:                       3.242   Cond. No.                         12.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Translate that into the form **"every X percentage point change in unemployment translates to a Y change in life expectancy"**

In [11]:
# every 1 percentage point change in unemployment translates to a -0.0365 change in life expectancy

## Bringing more columns into the mix

Only dealing with unemployment seems kind of narrow-minded, let's expand our reach a bit.

### Read in `R12221544_SL140.csv`

It's also from the Census, and has many, many, many more columns available to you compared to the list dataset.

In [12]:
df4 = pd.read_csv("R12221550_SL140.csv", encoding = "ISO-8859-1")
df4.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,ACS15_5yr_B23025005,ACS15_5yr_B23025006,ACS15_5yr_B23025007,ACS15_5yr_B23025001s,ACS15_5yr_B23025002s,ACS15_5yr_B23025003s,ACS15_5yr_B23025004s,ACS15_5yr_B23025005s,ACS15_5yr_B23025006s,ACS15_5yr_B23025007s
0,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama","Census Tract 201, Autauga County, Alabama",al,140,0,ACSSF,1760,NaN,...,54,0,557,92.121212,85.454545,85.454545,83.636364,18.787879,6.666667,67.878788
1,1001020200,14000US01001020200,"Census Tract 202, Autauga County, Alabama","Census Tract 202, Autauga County, Alabama",al,140,0,ACSSF,1761,NaN,...,116,15,847,143.030303,115.151515,114.545455,107.272727,38.181818,14.545455,86.666667
2,1001020300,14000US01001020300,"Census Tract 203, Autauga County, Alabama","Census Tract 203, Autauga County, Alabama",al,140,0,ACSSF,1762,NaN,...,91,8,990,169.090909,132.121212,134.545455,123.030303,31.515152,8.484848,120.606061
3,1001020400,14000US01001020400,"Census Tract 204, Autauga County, Alabama","Census Tract 204, Autauga County, Alabama",al,140,0,ACSSF,1763,NaN,...,216,15,1411,197.575758,157.575758,161.818182,132.121212,58.787879,14.545455,127.878788
4,1001020500,14000US01001020500,"Census Tract 205, Autauga County, Alabama","Census Tract 205, Autauga County, Alabama",al,140,0,ACSSF,1764,NaN,...,221,203,2737,321.818182,339.393939,356.969697,369.090909,89.090909,103.030303,273.939394

Using this census data, create a new dataframe that includes the following columns:

* Percent unemployed
* Percents Black, White, and Hispanic
* Median Income (in increments of 10,000 dollars)
* Percent of the population with less than a high school education
* Percent of the population between 1-1.5x the poverty line

If you have to many any editorial decisions about which columns you choose or how you do your math, please explain them.

In [13]:
df4 = pd.read_csv("R12221550_SL140.csv", encoding = "ISO-8859-1")

df4 = df4[['Geo_TRACT', 'ACS15_5yr_B03002001', 'ACS15_5yr_B03002003', 'ACS15_5yr_B03002004', 'ACS15_5yr_B03002012', 'ACS15_5yr_B19013001', 'ACS15_5yr_B06009001','ACS15_5yr_B06009002', 'ACS15_5yr_C17002001', 'ACS15_5yr_C17002004', 'ACS15_5yr_C17002005', 'ACS15_5yr_B23025005','ACS15_5yr_B23025001', 'Geo_FIPS']] 

df4 = df4.rename(columns={'Geo_TRACT':'TRACT', 'ACS15_5yr_B03002001':'total_pop', 'ACS15_5yr_B03002003':'white',
      'ACS15_5yr_B03002004':'black', 'ACS15_5yr_B03002012':'hispanic', 'ACS15_5yr_B19013001':'median_income', 'ACS15_5yr_B06009001':'total_high_school','ACS15_5yr_B06009002':'less_high_school', 'ACS15_5yr_C17002001':'total_poverty', 'ACS15_5yr_C17002004':'pop_between_1_to_1.24',
      'ACS15_5yr_C17002005':'pop_between_1.25_to_1.49', 'ACS15_5yr_B23025005' : 'unemployment', 'ACS15_5yr_B23025001': 'total_pop_employ'})

df4['percent_unemployed'] = (df4['unemployment']*100)/df4['total_pop_employ']

df4['white'] = (df4['white'] / df4['total_pop']) * 100
df4['black'] = (df4['black'] / df4['total_pop']) * 100
df4['hispanic'] = (df4['hispanic'] / df4['total_pop']) * 100

df4['less_high_school']= df4['less_high_school']/df4['total_pop']*100

df4['percent_poverty_pop'] = (df4['pop_between_1_to_1.24'] + df4['pop_between_1.25_to_1.49']) / df4['total_pop']*100

df4['median_income'] = df4['median_income']/10000


df4.head()

,TRACT,total_pop,white,black,hispanic,median_income,total_high_school,less_high_school,total_poverty,pop_between_1_to_1.24,pop_between_1.25_to_1.49,unemployment,total_pop_employ,Geo_FIPS,percent_unemployed,percent_poverty_pop
0,20100,1948,87.422998,7.700205,0.872690,6.1838,1243.0,9.445585,1948,81,101,54,1554,1001020100,3.474903,9.342916
1,20200,2156,40.445269,53.293135,0.788497,3.2303,1397.0,16.512059,1983,232,58,116,1731,1001020200,6.701329,13.450835
2,20300,2968,74.528302,18.564690,0.000000,4.4922,2074.0,7.446092,2968,148,207,91,2462,1001020300,3.696182,11.960916
3,20400,4423,82.794483,3.662672,10.490617,5.4329,2899.0,7.664481,4423,141,182,216,3424,1001020400,6.308411,7.302736
4,20500,10763,68.456750,24.844374,0.743287,5.1965,6974.0,2.880238,10563,256,1064,221,8198,1001020500,2.695779,12.264239

### Join your datasets

Combine your life expectancy dataset with this census dataset to create a new dataframe.

In [14]:
merged1 = pd.merge(merged, df4, on='Geo_FIPS')
merged1.head()

,Tract ID,FIPS State Code,FIPS Country Code,Census 2010 Tract,Life expectancy at birth,Standard error,Flag,Geo_FIPS,Geo_GEOID,Geo_NAME,...,median_income,total_high_school,less_high_school,total_poverty,pop_between_1_to_1.24,pop_between_1.25_to_1.49,unemployment,total_pop_employ,percent_unemployed,percent_poverty_pop
0,1001020100,1,1,20100,73.1,2.2348,3,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",...,6.1838,1243.0,9.445585,1948,81,101,54,1554,3.474903,9.342916
1,1033020100,1,33,20100,72.3,1.4305,3,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",...,6.1838,1243.0,9.445585,1948,81,101,54,1554,3.474903,9.342916
2,1045020100,1,45,20100,75.0,1.5468,3,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",...,6.1838,1243.0,9.445585,1948,81,101,54,1554,3.474903,9.342916
3,1057020100,1,57,20100,72.6,1.4231,3,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",...,6.1838,1243.0,9.445585,1948,81,101,54,1554,3.474903,9.342916
4,1127020100,1,127,20100,68.6,1.3919,3,1001020100,14000US01001020100,"Census Tract 201, Autauga County, Alabama",...,6.1838,1243.0,9.445585,1948,81,101,54,1554,3.474903,9.342916

## Running your multivariate regression

Using the `statsmodels` package and this new dataframe, run a multivariate linear regression to find the coefficient relating your columns and life expectancy.

In [15]:
X = sm.add_constant(merged1[['percent_unemployed', 'white','black','hispanic','less_high_school','percent_poverty_pop', 'median_income']])
y = merged1['Life expectancy at birth']
mod = sm.OLS(y, X, missing='drop')
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
====================================================================================
Dep. Variable:     Life expectancy at birth   R-squared:                       0.004
Model:                                  OLS   Adj. R-squared:                  0.004
Method:                       Least Squares   F-statistic:                     1376.
Date:                      Tue, 16 Jul 2019   Prob (F-statistic):               0.00
Time:                              17:20:28   Log-Likelihood:            -7.6933e+06
No. Observations:                   2708347   AIC:                         1.539e+07
Df Residuals:                       2708339   BIC:                         1.539e+07
Df Model:                                 7
Covariance Type:                  nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  76.3984      0.034   2267.391      0.000      76.332      76.464
percent_unemployed     -0.0090      0.001     -9.388      0.000      -0.011      -0.007
white                   0.0007      0.000      2.216      0.027    7.81e-05       0.001
black                3.951e-05      0.000      0.123      0.902      -0.001       0.001
hispanic             4.885e-05      0.000      0.141      0.888      -0.001       0.001
less_high_school        0.0115      0.001     20.296      0.000       0.010       0.013
percent_poverty_pop    -0.0032      0.001     -5.503      0.000      -0.004      -0.002
median_income           0.1224      0.002     72.390      0.000       0.119       0.126
==============================================================================
Omnibus:                     8834.225   Durbin-Watson:                   1.717
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10331.903
Skew:                          -0.084   Prob(JB):                         0.00
Kurtosis:                       3.252   Cond. No.                     1.02e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Translate some of your coefficients into the form **"every X percentage point change in unemployment translates to a Y change in life expectancy."** Do this with numbers that are meaningful, and in a way that is easily understandable to your reader.

In [ ]:
#every 1 percentage point change in unemployment translates to a -0.0090 change in life expectancy.